<h1>Edit member details</h1>
<form class="" action="/gym/members/<%= @member.id() %>" method="post">

  <div class="form-el">
    <label for="first-name">First name:</label>
    <input type="text" name="first_name" value="<%= @member.first_name() %>" id="first-name">
  </div>

  <div class="form-el">
    <label for="last-name">Last name:</label>
    <input type="text" name="last_name" value="<%= @member.last_name() %>" id="last-name">
  </div>

  <div class="form-el">
    <label for="address">Address:</label>
    <input class="address" type="text" name="address" value="<%= @member.address() %>" id="address">
  </div>

  <div class="form-el">
    <input class="btn" type="submit" value="Update details">
  </div>

</form>
