<h1>Members</h1>

<table>
  <% for member in @members %>
    <tr>
      <td><%= member.first_name %> <%= member.last_name %>, <%= member.address %>
      </td>
      <td>
        <a class="btn-small" href="/gym/members/<%= member.id() %>">View details</a>
      </td>
    </tr>
  <% end %>
</table>

<br>
<a class="btn" href="/gym/members/new">Add a new member</a>
