<h1>Members</h1>

<a class="btn" href="/gym/members">Check members</a>

<a class="btn btn--alt" href="/gym/members/new">Add a new member</a>

<br>
<br>
<h1>Activities</h1>

<a class="btn" href="/gym/activities">Check activities</a>

<a class="btn btn--alt" href="/gym/activities/new">Add a new activity</a>
