<p>To add link buttons for members index, new member form, activities index and new booking form</p>

<p>Also, change or add to seeds.rb to include more of everything and also more activities including boxercise and poss actual boxing?</p>

<p>Test everything works - input new members,activities, bookings and delete things</p>
