<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Gym</title>
  <link rel="stylesheet" type = "text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type = "text/css" href="/styles/forms.css">
  <link rel="stylesheet" type = "text/css" href="/styles/structure.css">
  <link rel="stylesheet" type = "text/css" href="/styles/tables.css">
</head>
<body>
  <main class="flex flex--column">
    <nav>
      <ul>
        <li>
          <a href="/gym">Gym</a>
        </li>
        <li>
          <a href="/gym/members">Members</a>
        </li>
        <li>
          <a href="/gym/activities">Activities</a>
        </li>
        <li>
          <a href="/gym/bookings">Bookings</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </main>
</body>
</html>
