<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Gym</title>
  <link rel="stylesheet" type = "text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type = "text/css" href="/styles/forms.css">
  <link rel="stylesheet" type = "text/css" href="/styles/structure.css">
  <link rel="stylesheet" type = "text/css" href="/styles/tables.css">
</head>
<body>
  <main>
    <nav class="flex flex--row">
      <p class="homelink">
        <a href="/gym">Gym</a>
      </p>
      <p>
        <a href="/gym/members">Members</a>
      </p>
      <p>
        <a href="/gym/activities">Activities</a>
      </p>
      <p>
        <a href="/gym/bookings">Bookings</a>
      </p>
    </nav>
    <!-- <section class="flex flex--column"> -->
      <%= yield %>
    <!-- </section> -->
  </main>
</body>
</html>
