body {
  font-family: Helvetica, sans-serif;
  padding: 0em;
  margin: 0em;
}

main {
  padding: 3em;
}

h1 {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

h2 {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

nav {
  align-items: center;
  background-color: Maroon;
  height: 6em;
  margin-right: -1em;
  margin-left: -1em;
}

nav p {
  margin-right: 4em;
  margin-left: 1em;
  align-items: center;
  font-size: 1.2em;
}

nav p a {
  color: White;
}

a {
  text-decoration: none;
}

.homelink {
  padding: 0em 0.2em 0em 0.2em;
  font-weight: bold;
  font-size: 1.5em;
  background-color: Orange;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}
